<div class="jumbotron">
        <h1>Dashboard</h1>
        <p class="lead">Welcome to your Dashboard. You can create jobs and review your applicants </p>
        <%= link_to 'Create a Job', new_dashboard_job_path, class: 'btn btn-large btn-success' %>
        <%= link_to 'View Applications', dashboard_job_applications_path, class: 'btn btn-large btn-info' %>
      </div>