<div class="jumbotron">
        <h1>Dashboard</h1>
        <p class="lead">Welcome to your Dashboard. You can create jobs and review your applicants </p>
        <a class="btn btn-large btn-success" href="#">Create a Job</a>
      </div>