<div class="jumbotron">

    <h1>Jobbster. Easy Career Pages.</h1>

    <p class="lead">The easiest way to create a careers page for your campany.</p>

    <%= link_to "Sign Up For Free", new_user_registration_path, class: "btn btn-large btn-success" %>

</div>