<p>
  <strong>Title</strong><br />
  <%= @job.name %>
</p>
<p>
  <strong>Job Description</strong><br />
  <%= @job.description %>
</p>
<p>
  <strong>Job Skills</strong><br />
  HTML, CSS, Ruby, Ruby on Rails, Git, 
</p>
<p>
  <strong>Job Location</strong><br />
  San Antonio, TX
</p>
<p>
  <strong>Employment Type</strong><br />
  Contract
</p>
<p>
  <strong>Job Length</strong><br />
  9 months
</p>
<p>
  <strong>Pay Rate</strong><br />
  85k
</p>
<p>
  <strong>Travel Required</strong><br />
  no
</p>


