<h1>Job Applications</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @job_applications.each do |job_application| %>
      <tr>
        <td><%= link_to job_application.name, dashboard_job_application_path(job_application) %></td>
        <td><%= link_to 'Edit', edit_dashboard_job_application_path(job_application) %></td>
        <td><%= link_to 'Destroy', dashboard_job_application_path(job_application), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job application', new_dashboard_job_application_path %>
