<!DOCTYPE html>
<html>
  <head>
    <title>Jobbly - Home</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <style type="text/css">
      body{
        padding: 0;
      }
    </style>
  </head>
  <body>


    <div class="container">
      <img src="http://fillmurray.com/900/300">
      <%= yield %>
    </div>

  </body>
</html>